.cuisineRibbon-wrapper, 
.ais-search-box--magnifier-wrapper,
.ais-search-box--reset-wrapper {
    display: none !important;
}

.s-icon.s-input-group-addon.s-input-group-addon--left.u-flex-center-center.searchAutocomplete-icon {
    position: relative;
    left: 12rem;
}