.profile-pic{
        /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
        background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
        
        /* make a square container */
        width: 150px;
        height: 150px;
    
        /* fill the container, preserving aspect ratio, and cropping to fit */
        background-size: cover;
    
        /* center the image vertically and horizontally */
        background-position: top center;
    
        /* round the edges to a circle with border radius 1/2 container size */
        border-radius: 50%;

        text-align: center;
        margin-bottom: 5%;
}

#mike {
    height: 30px
}